/*-- footer-*/
.form {
  background-image: url("../../assets/img/contact/city.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(59, 67, 76, 0.7);
  font-size: 16px;

  .offer {
    text-align: center;
    padding: 60px 0;

    .offer-title {
      @include text-decor(35px, 400, 40px, $main-color);
      font-family: 'Open Sans', sans-serif;


      .offer-title-orang {
        color: $second-color;
        font-family: 'Open Sans', sans-serif;
      }
    }

    .offer-text {
      font-family: 'Open Sans', sans-serif;
      @include text-decor(25px, 400, 40px, $main-color);
    }
  }

  .input-down {
    display: flex;
    justify-content: center;

    .text-email {
      border: 1px solid red;
      border-radius: 5px;
      background-color: white;
      padding: 5px 0;
      width: 15em;
    }

    .subject {
      border: 1px solid red;
      border-radius: 5px;
      background-color: white;
      padding: 5px 0;
      width: 15em;
      margin-left: 4em;
    }
  }

  .submit {
    justify-content: center;
    display: flex;
    margin-top: 5%;
  }

  .submit-down {
    @include flex-style(flex, center, center);
    text-decoration: none;
    flex-direction: row;
    padding: 44px 0 10px 0;

    .submit-down-button {
      background-color: $second-color;
      padding: 10px 15px;
      border-radius: 7px;
      transition: color .5s ease;

      &:hover {
        background-color: $hover-color;
      }
    }

    ul {
      list-style: none;

      li {
        display: inline;
        margin-right: 5px;
        padding: 3px;
      }
    }
  }

}

//footer end
